$roku_purple: #662d91;
$roku_purple_dark: #552a7b;

@import './vendor/reset';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';

*{
    box-sizing: border-box;
}

button:focus,
input:focus{
    outline:none;
}

html,
body{
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: $roku_purple;
    font-family: 'helevetica neueu', helvetica, arial, sans-serif;
    font-size:16px;
    line-height:1.4;
}

@import './components/remote';
@import './components/overlay';
